.AdminPanelContainer {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 55%) 1px 1px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}


.AdminPanelTable {
    margin-top: 10px;
}

.AdminPanelTable thead tr th {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;

}

.AdminPanelTable tbody tr td {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    width: 300px;
}

.ExercisesButtonGroupButton {
    color: #000000;
    transition: 0.3s all ease-in-out;
    border: none;

}

.ExercisesButtonGroupButton:hover, .ExercisesButtonGroupButton:active {
    color: #000000;
    transform: scale(1.15);
    text-decoration: none;
    border: none;
}



@media (max-width: 768px) {

    .AdminPanelTable thead tr th {
        font-size: 15px;
        text-wrap: nowrap;
    }

    .AdminPanelTable tbody tr td {
        font-size: 14px;
        text-wrap: nowrap;
    }


}