


.UsersTable {
    margin-top: 10px;
}

.UsersTable thead tr th {
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #ffffff;
    font-size: 15px;

}

.UsersTable tbody tr td {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 15px;
}