#modalHeader {
    background-color: rgb(0, 0, 0);
}

#modalTitle {
    color: #ffffff;
}

#modalFooter {
    color: #000000;
    background-color: rgb(255, 255, 255);
}



#createModalButton {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    border-color: white;
    display: block;
    margin: auto;
}

#formControlModal {
    background-color: #eae9e9;
}

#formGroup {
    padding: 5px;
}

#createWorkoutForm {
    max-width: 350px;
    display: flex;
    margin: auto;
    margin-top: 15px;
    
    
}

#formControlCreateWorkout {
    border: 1px solid #a5a5a5;
}

#editWorkoutForm {
    display: flex;
}



@media (max-width:767px) {

    #formControlCreateWorkout {
        margin: auto;
    }

    #createWorkoutForm {
        max-width: 250px;
        
    }
}