#workoutManagerContainer {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 55%) 1px 1px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

#workoutManagerContainer2 {
    background-color: rgb(255, 255, 255);
    max-width: 900px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}




#workoutManagerTable th {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 18px;
}

#workoutManagerTable td {
    font-size: 18px;
    text-align: center;
    justify-content: right;
    align-items: center;
}

#ButtonWorkoutManager {
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 25px;
}

#ButtonWorkoutManager:hover {
    transform: scale(1.1);
}

#createNewWorkoutButton {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    border-color: white;
    font-size: 18px;
    margin-top: 10px;
}


#createNewWorkoutButton:hover {
    background-color: #000000;
    transform: scale(1.05);
}


@media (max-width:767px) {
    #tdButtons {
        display: flex;

    }

}