#workoutManagerContainer {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgb(0 0 0 / 55%) 1px 1px 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#workoutManagerContainer2 {
    background-color: rgb(255, 255, 255);
    max-width: 700px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#buttonWorkoutManager {
    margin-right: 5px;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 25px;
}

#buttonWorkoutManager:hover {
    transform: scale(1.1);
}

@media (max-width:767px) {

    #tdButtons {
        display: flex;
    }
}

