#workoutPlannerContainer {
    text-align: center;
    margin-top: 20px;
    box-shadow: rgb(0 0 0 / 55%) 1px 1px 10px;
    border-radius: 10px;
    padding: 20px;
    max-width: 1000px;
    background-color: white;

}

#plannerBar {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    /* border: 1px solid #bfbfbf; */
    max-width: 300px;
    margin-bottom: 25px;


}

#WorkoutPlannerButton {
    background-color: rgb(0, 0, 0);
    border-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: light;
    justify-content: left;
    display: flex;
}

#WorkoutPlannerButton:hover, #addExerciseButtonWorkoutPlanner:hover {
    transform: scale(1.05);
}

#addExerciseButtonWorkoutPlanner {
    background-color: black;
    border: none;
    margin-top: 10px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;

}