#AddExerciseToWorkoutmodalButton:hover {
    background-color: #000000;
    transform: scale(1.05);
}


#AddExerciseToWorkoutmodalButton {
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    border-color: white;
    transition: all 0.3s ease;
}


@media (max-width:430px) {
    
    #AddExerciseToWorkoutmodalButton {
        font-size: smaller;
        max-width: 100px;
        
    }
}