#exercisesContainer {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
   }

#background {
    width: 100%;
    background-position: center;
    background-size: cover;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(rgba(175, 175, 175, 0.8), rgba(165, 165, 165, 0.4), rgba(88, 88, 88, 0.6), rgba(58, 58, 58, 0.8)), url(../imgs/background.png);
}

#searchBar {
    max-width: 450px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}


.customCardFooter {
    text-align: center;
}

.customCard {
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
}

.customCard:hover {
    transform: scale(1.01);

}

h3 {
    font-weight: bolder;
    text-align: center;
}

#muscle-group-link {
    text-decoration: none;
}



@media (max-width: 1024px) {

    .customRow {
        margin-bottom: 15px;
        text-align: center;
        justify-content: center;
    }



}