#navbar {
    box-shadow: rgb(0 0 0 / 30%) 1px 1px 10px;
}

#exercisesContainer {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: rgb(0 0 0 / 55%) 1px 1px 10px;
    margin-top: 20px;
    margin-bottom: 20px;

}

#exercisesContainer2 {
    background-color: rgb(255, 255, 255);
    max-width: 1000px;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}



.customCardFooter {
    text-align: center;
    background-color: white;
    border-color: white;
}

.customCard {
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
    border-color: white;
}

.customCard:hover {
    transform: scale(1.01);

}

h3 {
    font-weight: bolder;
    text-align: center;
}

#muscle-group-link {
    text-decoration: none;
}

.customRow {
    margin-bottom: 15px;
    text-align: center;
    justify-content: center;
}



@media (max-width: 1024px) {

    .customRow {
        margin-bottom: 15px;
        text-align: center;
        justify-content: center;
    }



}